<?xml version="1.0"?>
<config>
	<modules>
    	<Webmu_LoginNotifier>
        	<version>0.2.0</version>
    	</Webmu_LoginNotifier>
	</modules>
  	<global>
    	<helpers>
      		<loginnotifier>
        		<class>Webmu_LoginNotifier_Helper</class>
      		</loginnotifier>
    </helpers>
	<blocks>
	  	<loginnotifier>
			<class>Webmu_LoginNotifier_Block</class>
	  	</loginnotifier>
	</blocks>
	<models>
	  	<loginnotifier>
			<class>Webmu_LoginNotifier_Model</class>
			<resourceModel>loginnotifier_mysql4</resourceModel>
	  	</loginnotifier>
	  	<loginnotifier_mysql4>
			<class>Webmu_LoginNotifier_Model_Mysql4</class>
			<entities>		  
				<report>
					<table>webmu_loginnotifier</table>
				</report>
        	</entities>
        </loginnotifier_mysql4>
	</models>
	<resources>
		<loginnotifier_setup>
			<setup>
				<module>Webmu_LoginNotifier</module>
			</setup>
			<connection>
		  		<use>core_setup</use>
			</connection>
	  	</loginnotifier_setup>
	  	<loginnotifier_write>
			<connection>
		  		<use>core_write</use>
			</connection>
	  	</loginnotifier_write>
	  	<loginnotifier_read>
			<connection>
		  		<use>core_read</use>
			</connection>
	  	</loginnotifier_read>
	</resources>
	<template>
    	<email>
    		<loginnotifier_notificationemail_success>
            	<label>LoginNotifier success login email</label>
                <file>loginnotifier_notificationemail_success.html</file>
                <type>html</type>
            </loginnotifier_notificationemail_success>
        	<loginnotifier_notificationemail_failed>
            	<label>LoginNotifier failed login email</label>
                <file>loginnotifier_notificationemail_failed.html</file>
                <type>html</type>
            </loginnotifier_notificationemail_failed>
        </email>
    </template>
  </global>
	<admin>
		<routers>
			<loginnotifier>
	    		<use>admin</use>
				<args>
		  			<module>Webmu_LoginNotifier</module>
		  			<frontName>admin_loginnotifier</frontName>
				</args>
	  		</loginnotifier>
		</routers>
	</admin>
  	<adminhtml>
  		<events>
            <admin_session_user_login_success>
                <observers>
                    <loginnotifier_success>
	                    <type>singleton</type>
                        <class>loginnotifier/observer</class>
                        <method>successLogin</method>
                    </loginnotifier_success>
                </observers>
            </admin_session_user_login_success>
            <admin_session_user_login_failed>
                <observers>
                    <loginnotifier_failed>
	                    <type>singleton</type>
                        <class>loginnotifier/observer</class>
                        <method>failedLogin</method>
                    </loginnotifier_failed>
                </observers>
            </admin_session_user_login_failed>
        </events>
		<menu>
            <report>
                <children>
                	<loginnotifier translate="title" module="loginnotifier">
                    	<title>Backend Login</title>
                    	<sort_order>0</sort_order>
                        <action>admin_loginnotifier/adminhtml_report</action>
                    </loginnotifier>
                </children>
            </report>
        </menu>
		<acl>
	  		<resources>
				<all>
		  			<title>Allow Everything</title>
				</all>
				<admin>
		  			<children>
						<loginnotifier translate="title" module="loginnotifier">
			  				<title>LoginNotifier</title>
			  				<sort_order>1000</sort_order>
							<children>
						        <report translate="title">
									<title>Backend Login</title>
									<sort_order>0</sort_order>
					        	</report>
							</children>
						</loginnotifier>
		  			</children>
				</admin>
			</resources>
		</acl>
		<translate>
            <modules>
                <Webmu_LoginNotifier>
                    <files>
                        <default>Webmu_LoginNotifier.csv</default>
                    </files>
                </Webmu_LoginNotifier>
            </modules>
        </translate>
		<layout>
	  		<updates>
				<loginnotifier>
		  			<file>loginnotifier.xml</file>
				</loginnotifier>
	  		</updates>
		</layout>
	</adminhtml>
</config> 